<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(equipos.length) { %>
      <%  for (let i = 0; i < equipos.length; i++) { %>
        <h2> <%= equipos[i].nombre_de_equipo %> </h2>
        <ul>
        <li> Representante: <%= equipos[i].representante %> </li> 
        <li> Modalidad: <%= equipos[i].modalidad %> </li> 
        <li> Email: <%= equipos[i].email %> </li> 
        <li> Teléfono: <%= equipos[i].telefono %> </li> 
        <li><strong>Participantes: </strong></li>
        <li> <%= equipos[i].participantes %> </li> 
        <% } %>
    <% } %>
  </body>
</html>