<%-include("templates/header",{mainTitle:"UVM|Robotica|Equipos"})%>
  <body>
    <%-include("partials/nav")%>
    <h1><%= title %></h1>
    <% if(equipos.length) { %>
      <%  for (let i = 0; i < equipos.length; i++) { %>
        <h2> <%= equipos[i].nombre_de_equipo %> </h2>
        <ul>
        <li> Representante: <%= equipos[i].representante %> </li> 
        <li> Modalidad: <%= equipos[i].nombre_modalidad %> </li> 
        <li> Email: <%= equipos[i].email %> </li> 
        <li> Teléfono: <%= equipos[i].telefono %> </li> 
        <li><strong>Participantes: </strong></li>
        <%= equipos[i].participantes %>
        <li><strong>Comentarios: </strong></li>
        <%= equipos[i].comentario %>
        </ul>
        <% } %>
    <% } %>
  </body>
</html>